<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.refrigerator"
    android:versionCode="1"
    android:versionName="1.0" >

   
    
	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.example.deokr.myapplication.permission.C2D_MESSAGE" />
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="21"/>
    <permission android:name="com.example.refrigerator.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ref_menu"
        android:label="자도냉"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ColdActivity">
        </activity>
        <activity
            android:name=".ColdAddActivity">
        </activity>
        <activity
            android:name=".CoolActivity">
        </activity>
        <activity
            android:name=".CoolAddActivity">
        </activity>
        <activity
            android:name=".IngredientActivity">
        </activity>
        <activity
            android:name=".RecipeActivity">
        </activity>
        <activity
            android:name=".LoginActivity">
        </activity>
       
        <activity
            android:name=".MainActivity"
            android:label="자도냉" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        
        </activity>
      
    </application>
	
</manifest>
